body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 2%;
  display: flex;
  justify-content: center;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  flex-direction: column;
}
header {
  display: flex;

  justify-content: space-between;
  border-bottom: solid 1px #e7e9fc;
  padding: 24px 156px;
}

nav ul {
  display: flex;
  gap: 40px;
  padding-right: 336px;
}
nav ul li a.active {
  position: relative;
}
nav ul li a.active::after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
address {
  display: flex;
  flex-shrink: 0;
}
address ul {
  display: flex;
  gap: 40px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  color: #ffffff;
  background-color: #626eef;
  width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #404bbf;
}

a {
  color: #2e2f42;
  text-decoration: none;
}

a:hover {
  color: #404bbf;
}

ul {
  list-style: none;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
h3 {
  font-weight: 500;
  font-size: 20px;
}
.section {
  padding: 120px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sectionOne {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-size: cover;
  color: #ffffff;
  background-color: #2e2f42;
  text-align: center;
  background-position: center;

  height: 600px;

  gap: 48px;
}
.sectionTwo {
  padding: 120px 156px;
}

.sectionThree {
  background-color: #f4f4fd;
  padding: 120px 156px;
  gap: 72px;
  width: 1440px;
}
.sectionFour {
  padding: 120px 156px;
  gap: 72px;
  z-index: 999;
}

.sectionTwo ul,
.sectionThree ul,
.sectionFour ul {
  display: flex;

  justify-content: space-between;
  gap: 24px;
}
.sectionFour ul {
  flex-wrap: wrap;
  z-index: 999;
}
.sectionThree ul li {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  gap: 16px;
  border-radius: 0 0 4px 4px;
  width: 264px;
  height: 428px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.social-media-icons {
  display: flex;

  margin-left: 16px;
  width: 232px;
  height: 40px;
  gap: 24px;
}
.sectionThree .social-media-icons li {
  width: 40px;
  height: 40px;
  box-shadow: none;
}
.icon-Icon-1,
.icon-Icon-2,
.icon-Icon-3,
.icon-Icon-4 {
  border: solid 1px #8e8f99;
  border-radius: 4px;
  width: 260px;
  height: 112px;
}

.sectionThree .social-media-icons .icon-Ellipse,
.sectionThree .social-media-icons .icon-Ellipse-1,
.sectionThree .social-media-icons .icon-Ellipse-2,
.sectionThree .social-media-icons .icon-Ellipse-3 {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  border: none;
  box-shadow: none;
}

.sectionThree .social-media-icons .icon-Ellipse:hover,
.sectionThree .social-media-icons .icon-Ellipse-1:hover,
.sectionThree .social-media-icons .icon-Ellipse-2:hover,
.sectionThree .social-media-icons .icon-Ellipse-3:hover {
  background-color: #404bbf;
}

.sectionThree ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  transition: background-color 0.25ms ease;
}

.sectionFour ul li {
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  gap: 16px;
  width: calc((100% - 48px) / 3);
  background-color: #ffffff;
  border: solid 1px #e7e9fc;
  position: relative;
  overflow: hidden;
  z-index: 999;
}
.image-wrapper {
  position: relative;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  display: block;
}
.sectionFour .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 20px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.image-wrapper:hover .overlay {
  transform: translateY(0);
}

.sectionFour ul li:hover {
  box-shadow: 0px 4px 12px rgba(46, 47, 66, 0.08);
}
.sectionFour ul li h3 {
  margin-left: 16px;
  margin-top: 32px;
}

.sectionFour ul li p {
  margin-left: 16px;
}

.sectionFour h3:hover {
  color: #8e8f99;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  padding-right: 76px;
}

.logo > span {
  color: #4d5ae5;
}

footer {
  display: flex;

  gap: 120px;
  width: 1440px;
  height: 312px;
  background: #2e2f42;
  padding: 100px 156px;
  color: #ffffff;
}

/* Tüm footer'daki ul'ler */
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 264px;
}

/* Sol taraftaki logo ve açıklama */
.footer-left .logo {
  font-weight: bold;
  font-size: 18px;
}

/* Sosyal medya başlığı + ikonlar */
.footer-social {
  gap: 24px;
}

/* İkonlar yatay olacak */
footer .social-media-icons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 0;
  margin: 0;
}

/* Daire şeklindeki butonlar */
footer .social-media-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 0.3s ease;
}

.social-media-icons a:hover {
  background-color: #31d0aa;
}

/* İkonların boyutu */
footer .icon {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  fill: white;
}
.subs-label {
  display: block;
}
form {
  width: 453px;
  height: 80px;
}
.subsdiv {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 24px;
}

.subsdiv input {
  width: 264px;
  height: 40px;
  border: solid 1px #fff;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  padding: 10px;
  caret-color: white;
}

.subsdiv input::placeholder {
  background-image: none !important;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Roboto";
  letter-spacing: 4%;
  color: #fff;
}
.subsdiv input:focus {
  outline: none;
  border: 1px solid #fff;
}
input:focus::placeholder {
  opacity: 0;
  border: 1px solid transparent;
  outline: none;
}
.subs-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 24px 8px 24px;
  width: 185px;
  height: 40px;
  gap: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 4%;
}

footer a .logo {
  color: #ffffff;
}

button,
a,
input,
textarea,
label,
svg,
.icon-user use,
.icon-phone use,
.icon-envelope use,
.icon-cancel-circle {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  display: none;
}

.modal .is-open {
  display: block;
}

.is-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-form {
  position: relative;
  background: #fcfcfc;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 408px;
  height: 672px;
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  text-align: left;
}

.modal-form > p {
  color: #2e2f42;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 12px;
  padding-top: 72px;
}

.modal-form .form-group {
  display: flex;
  flex-direction: column;
}

.modal-form label {
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 14px;
  color: #333;
}

.modal-form input,
.modal-form textarea {
  padding: 16px 16px 16px 36px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.modal-form textarea {
  resize: vertical;
  min-height: 80px;
}

.modal-form .checkbox-label {
  font-size: 14px;
  width: 360px;
  color: #555;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 8px;
}

.modal-form button {
  padding: 10px;
  background-color: #4d5ae5;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form button:hover {
  background-color: #404bbf;
}
.checkbox-label > p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4%;

  color: #757575;
  font-weight: 400;
}
.modal-form .checkbox-label a {
  text-decoration: underline;
  color: #1e88e5;
}
.modal-form label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
  color: #8e8f99;
}
textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 4%;
  color: #2e2f42 40%;
}
/* Formun içindeki ikonlar için özel sınıf */
.form-group {
  position: relative;
}

.icon-envelope {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 10px;
}

.icon-phone {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 10px;
}

.icon-user {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 10px;
}

.icon-cancel-circle {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 28px;
  left: 351px;
  border-radius: 99px;
  border: solid 1px;
  background-color: #e7e9fc;
  border-color: #0000001a;
}

.icon-paperplane {
  width: 24px;
  height: 24px;
}

.modal-form input:focus,
.modal-form textarea:focus {
  border-color: #4d5ae5;
  outline: none;
}

.form-group input:focus ~ .icon-envelope,
.form-group input:focus ~ .icon-phone,
.form-group input:focus ~ .icon-user {
  fill: #4d5ae5;
}

.icon-cancel-circle:hover {
  fill: white;
  background-color: #4d5ae5;
  border-color: #4d5ae5;
}
.icon-cancel-circle:hover path {
  fill: #ffffff;
}
input[type="checkbox"]:checked,
input[type="checkbox"]:checked:hover,
input[type="checkbox"]:checked:focus {
  accent-color: #4d5ae5;
}
